@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.form-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

fieldset {
    display: none;
}
fieldset.active {
    display: block;
}

.card {
    box-shadow: 3px 2px 12px 2px rgba(241, 49, 49, 0.283);
}
